openapi: 3.2.0
info:
  title: Interos Relationships API
  version: 1.0.0
  description: This API uses location data provided by https://geocode.earth/
  x-logo: https://www.interos.ai/wp-content/uploads/2019/12/logo_blue-black-1.png
servers:
- url: https://api.interos.ai
security:
- Interos API Key: []
- Interos Customer ID: []
tags:
- name: Relationships
paths:
  /v1/organizations/{destination_organization_id}/connections:
    get:
      description: View how you are connected to this organization
      operationId: get_suppliers_for_organization_v1_external_organizations__destination_organization_id__connections_get
      parameters:
      - in: path
        name: destination_organization_id
        required: true
        schema:
          format: uuid
          title: The ID of organization to get connections to
          type: string
      - description: Length of connection paths to retrieve
        in: query
        name: path_length
        required: false
        schema:
          default: 1
          description: Length of connection paths to retrieve
          maximum: 3
          minimum: 1
          title: Path Length
          type: integer
      - description: 'Used to limit the number of records returned. Default: 500. Max: 2000'
        in: query
        name: limit
        required: false
        schema:
          default: 500
          description: 'Used to limit the number of records returned. Default: 500. Max: 2000'
          exclusiveMinimum: 0
          maximum: 2000
          title: Limit
          type: integer
      - description: Identifies where to start the pagination block and should not be sent on the initial request.
        in: query
        name: next
        required: false
        schema:
          description: Identifies where to start the pagination block and should not be sent on the initial request.
          title: Next
          type: string
      - description: Return total number of affected records. Only valid on the initial request.
        in: query
        name: return_count
        required: false
        schema:
          default: false
          description: Return total number of affected records. Only valid on the initial request.
          title: Return Count
          type: boolean
      - description: Enables per entity restrictions attributes and removes restrictions scores
        in: query
        name: enable_restrictions_update
        required: false
        schema:
          default: false
          description: Enables per entity restrictions attributes and removes restrictions scores
          title: Enable Restrictions Update
          type: boolean
      - description: Enables recalibrated iScore levels
        in: query
        name: enable_iscore_update
        required: false
        schema:
          default: false
          description: Enables recalibrated iScore levels
          title: Enable iScore Update
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePathOrganizationList'
          description: Succeeded
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not Found Error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Suppliers For Organization
      tags:
      - Relationships
  /v1/organizations/{organization_id}/suppliers:
    get:
      description: Get a paginated lists of suppliers for an organization
      operationId: get_suppliers_for_organization_v1_external_organizations__organization_id__suppliers_get
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          format: uuid
          title: The ID of organization to get suppliers for
          type: string
      - description: Tier of suppliers to retrieve. tier=1 will return direct suppliers of the organization. tier=2 will return all direct suppliers and their sub-suppliers
        in: query
        name: tier
        required: false
        schema:
          default: 1
          description: Tier of suppliers to retrieve. tier=1 will return direct suppliers of the organization. tier=2 will return all direct suppliers and their sub-suppliers
          maximum: 2
          minimum: 1
          title: Tier
          type: integer
      - description: 'Used to limit the number of records returned. Default: 500. Max: 2000'
        in: query
        name: limit
        required: false
        schema:
          default: 500
          description: 'Used to limit the number of records returned. Default: 500. Max: 2000'
          exclusiveMinimum: 0
          maximum: 2000
          title: Limit
          type: integer
      - description: Identifies where to start the pagination block and should not be sent on the initial request.
        in: query
        name: next
        required: false
        schema:
          description: Identifies where to start the pagination block and should not be sent on the initial request.
          title: Next
          type: string
      - description: Return total number of affected records. Only valid on the initial request.
        in: query
        name: return_count
        required: false
        schema:
          default: false
          description: Return total number of affected records. Only valid on the initial request.
          title: Return Count
          type: boolean
      - description: Enables per entity restrictions attributes and removes restrictions scores
        in: query
        name: enable_restrictions_update
        required: false
        schema:
          default: false
          description: Enables per entity restrictions attributes and removes restrictions scores
          title: Enable Restrictions Update
          type: boolean
      - description: Enables recalibrated iScore levels
        in: query
        name: enable_iscore_update
        required: false
        schema:
          default: false
          description: Enables recalibrated iScore levels
          title: Enable iScore Update
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplePathOrganizationList'
          description: Succeeded
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden Response
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not Found Error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get Suppliers For Organization
      tags:
      - Relationships
components:
  schemas:
    SimplePathOrganization:
      properties:
        country_code:
          title: Country Code
          type:
          - string
          - 'null'
        organization_id:
          format: uuid
          title: Organization Id
          type: string
        organization_name:
          title: Organization Name
          type:
          - string
          - 'null'
        risk_factor_scores:
          items:
            $ref: '#/components/schemas/SimpleScore'
          title: Risk Factor Scores
          type:
          - array
          - 'null'
        risk_score:
          allOf:
          - $ref: '#/components/schemas/IScore'
          title: Risk Score
        primary_industry:
          title: DEPRECATED Primary Industry
          type:
          - string
          - 'null'
          description: DEPRECATED Primary Industry Name
        industry_category_code:
          title: Industry Category Code
          type:
          - string
          - 'null'
          description: Industry Category Code
        industry_category_name:
          title: Industry Category Name
          type:
          - string
          - 'null'
          description: Industry Category Name
      required:
      - organization_id
      title: SimplePathOrganization
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ScoreLevel:
      description: An enumeration.
      enum:
      - Low
      - Medium
      - High
      - Extreme
      - 'No'
      title: ScoreLevel
      type: string
    SimplePathOrganizationList:
      properties:
        data:
          default: []
          items:
            items:
              $ref: '#/components/schemas/SimplePathOrganization'
            type: array
          title: Data
          type: array
        next:
          title: Next
          type: string
        total_count:
          title: Total Count
          type: integer
      title: SimplePathOrganizationList
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    IScore:
      properties:
        level:
          $ref: '#/components/schemas/ScoreLevel'
        score:
          title: Score
          type: integer
      title: IScore
      type: object
    ForbiddenError:
      properties:
        detail:
          title: Detail
          type: string
      title: ForbiddenError
      type: object
    HTTPError:
      properties:
        detail:
          title: Detail
          type: string
      required:
      - detail
      title: HTTPError
      type: object
    SimpleScore:
      properties:
        label:
          title: Label
          type: string
        level:
          $ref: '#/components/schemas/ScoreLevel'
        name:
          title: Name
          type: string
        score:
          title: Score
          type: integer
      required:
      - name
      - label
      title: SimpleScore
      type: object
  securitySchemes:
    Interos_API_Key:
      in: header
      name: x-api-key
      type: apiKey
    Interos_Customer_ID:
      in: header
      name: x-customer-id
      type: apiKey
